
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v20-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/rubik-v20-latin_cyrillic-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v20-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/rubik-v20-latin_cyrillic-500.woff') format('woff');
}

*{
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
.container{
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.site-header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#F6F6F6;
}
.site-header-top-start{
    display: flex; 
    align-items: center;
}
.site-header-top-list{
    display: flex;
    align-items: center;
    padding-left: 35px;
    
}
.site-header-top-item{
    list-style: none;
    margin-right: 25px;
    margin-left: 35px;
}
.currency-symbol{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2959CE;
}
.site-header-top-and{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-search{
    width: 275px;
    height: 45px;
    left: 836px;
    top: 30px;
    background: #FFFFFF;
    border-radius: 60px;  
}
.site-header-top-and-text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 13px;
    padding-left: 41px;
    line-height: 17px; 
    color: #8D8D8D;
}
.language-box{
    display: flex;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 36px;
    margin-left: 25px;
    margin-right: 25px;    
    background: #DCE6FF;
    border-radius: 39px;   
    
}
.language-box-uz{
    width: 30px;
    height: 30px;
    padding-left: 3px;
    margin-right: 8px;
    border-radius: 50px;
    background: #FFFFFF;  
}
.language-box-uz-text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding-top: 9px;
    
}
.language-box-ru-text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #A6A6A6;
}

.site-header-login{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 13px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 20px;
    color: #FFFFFF;
    background: #7296EC;
    border-radius: 10px;
    text-decoration: none;
}
.site-nav{
    padding-top: 30px;
    padding-bottom: 40px;
    
    
}
.site-nav-list{
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
    justify-content: space-between;
    text-decoration: none;
    border-bottom: 1px solid #D1D1D1;
}

.site-nav-item{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    
}
.site-nav-link{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7F7F7F;
    text-decoration: none;
}
.latest-news-list{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    
}
.latest-news-item{
    width: 359px;
    list-style: none;
    margin-bottom: 10px;
    
    background: #F6F6F6;
    border-radius: 15px;
}
.latest-news-logo{
    display: flex;
}
.latest-news-logo-icon{
    margin-right: 10px;
}
.site-article{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 179px;
    margin-left: 211px;
    width: 1050px;
    background-image: url("../images/background-image.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.article-box{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.article-title-box{
    width: 404px;
}
.article-title{
    font-family: 'Rubik';
    font-style: normal;
    
    padding-left: 29px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
.article-login{
    font-family: 'Rubik';
    margin-left: 270px;
    font-style: normal;
    padding-right: 101px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 30px;
    background: #F78B3B;
    border-radius: 10px;
    text-decoration: none;
    border: transparent;
}
.news-world-box{
    display: flex;
}
.news-world-box-start{
    margin-right: 10px;
}
.news-world-title{
    margin-bottom: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.news-world-box-start-list{
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    list-style: none;
}
.news-world-box-start-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: #F6F6F6;
    border-radius: 15px;
}
.box-news-world{
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left: 17px;
    background: #F6F6F6;
    border-radius: 15px;
}
.news-world-item-box{
    width: 535px;
}
.news-world-item-logo{
    display: flex;
    align-items: center;
}
.news-world-start-img{
    margin-right: 15px;
}
.news-world-item-title{
    margin: 0 auto;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
.news-world-item-text{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}
.news-world-item-logo::before{
    background-image: url("../images/kv.svg");
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    margin-right: 10px;
}
.news-world-item-logo-text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;
}
.news-world-item-logo-icon{
    margin-right: 10px;
}
.news-world-start-login{
    margin-bottom: 100px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    width: 796px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 17px 343px;
    background: #EAEAEA;
    border-radius: 10px;
    text-decoration: none;
}
.news-world-end-title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.news-world-end-list{
    /* margin: 0 ; */
    padding-left: 0;
    list-style: none;
}
.news-world-end-item{
    width: 356px;
    border-bottom: 1px solid #D2D2D2;
}
.news-world-end-title{
    padding-top: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.news-world-end-text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #5E5F61;
}
.site-footer{
    background: #7297EF;
}
.footer-logo-img{
    margin-top: 40px;
    margin-bottom: 15px;
}
.footer-box{
    width: 229px;
    
}
.footer-boxx{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    /* or 158% */
    
    
    color: #FFFFFF;
}
.footer-start{
    margin-right: 203px;
}
.footer-small-box{
    display: flex;
}
.footer-middle-list{
    margin-right: 100px;
    margin-bottom: 30px;
    list-style: none;
}
.footer-middle-item{
    width: 167px;
    margin-bottom: 20px;
}
.footer-middle-link{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-end-list{
    list-style: none;
}
.footer-end-item{
    width: 224px;
    margin-bottom: 20px;
}
.footer-end-link{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    color: #FFFFFF;
    text-decoration: none;
}
.text-box{
    width: 161px;
    margin-bottom: 40px;
}
.footer-bottom{
    border-top: 1px solid #CECECE;
    display: flex;
    justify-content: space-between;
}
.footer-bottom-text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}
.footer-bottom-list{
    display: flex;
    list-style: none;
}
.footer-bottom-item{
    margin-right: 25px;
}

.modal-box{
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 150px;
    width: 100%;
    height: 100%;
    background-color: #00000066;
}
.modal-open{
    display: block;
}
.modal{
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px; 
}
.modal-text{
    padding: 50px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal-hidden{
    margin: 0px;
    margin-bottom: 25px;
}
.modal-link{
    padding: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
    
    background: #F78B3B;
    border-radius: 10px;
    text-decoration: none;
}